In [4]:
print('''Machine Learning enables systems to learn from the data
        It involves various algorithms such as the  supervised, unsupervised and reinforcement Learning.
        Machine Learning is a subset of the Artificial Intelligence.
        Neural networks inspired by the human brain are used for the deep learning models to handle and optimize the decision making processes.''')

Machine Learning enables systems to learn from the data
        It involves various algorithms such as the  supervised, unsupervised and reinforcement Learning.
        Machine Learning is a subset of the Artificial Intelligence.
        Neural networks inspired by the human brain are used for the deep learning models to handle and optimize the decision making processes.

In [6]:
import os
directory_path='/'
contents = os.listdir(directory_path)
for item in contents:
    print(item)

$RECYCLE.BIN
AI&ML
dev
Development
DSA_Python
FastPy
IRIS
LeetCodeQuestions
MachineLearningClassProject
ML Project 1
PreProcessing
PythonBasics
PythonLIbrary
PythonPractice
Python_Coding_Questions
Samrtphone Backup
System Volume Information

In [7]:
for i in range(1,11):
    print(5*i)

5
10
15
20
25
30
35
40
45
50

In [10]:
a=1
b=3.0
print(b)
print(a+b)
c="Akanksha"
d=False
e=None
b += 3
print(b)

e = True or False
print(e)
#Truth Table of OR
print("The Truth Table of OR")
print(True or False)
print(False or True)
print(True or True)
print(False or False)
print("The Truth Table of AND")
print(True and False)
print(False and True)
print(True and True)
print(False and False)

print("To See the datatype:")
print(type(a))
print(type(b))
print(type(c))
print(type(d))

3.0
4.0
6.0
True
The Truth Table of OR
True
True
True
False
The Truth Table of AND
False
False
True
False
To See the datatype:
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [30]:
str1='Akanksha Mishra'
str2="akanksha"
str3='''Akanksha'''
print(str1)
print(str2)
print(str3)
print(str1[1])
print(str1[0])
print(str1[0:4])
print(str1[-4:-1])
print(str1[:3])
print(str1[1:])
print(str1[0:7:2])

print(len(str1))
print(str1.endswith("sha"))
print(str1.startswith("Aka"))
print(str2.capitalize())
print(str2.upper())
print(str2.lower())
print(str1.find("Mishra"))
print(str1.replace("Mishra","Python"))

Akanksha Mishra
akanksha
Akanksha
k
A
Akan
shr
Aka
kanksha Mishra
Aakh
15
False
True
Akanksha
AKANKSHA
akanksha
9
Akanksha Python

In [9]:
list1=["Akanksha", 1,2, 2.4, True, False, None]
print(list1)
print(list1[0])
print(list1[0])
list1[0] = "Python"
print(list1)
print(list1[1:4])
list2=[5,3,55,22,100,2,1,3,4,]
list2.sort()
print(list2)
list2.reverse()
print(list2)
list2.insert(222,2)
print(list2)
list1.pop(1)
print(list1)
list1.remove(2)
print(list1)

['Akanksha', 1, 2, 2.4, True, False, None]
Akanksha
Akanksha
['Python', 1, 2, 2.4, True, False, None]
[1, 2, 2.4]
[1, 2, 3, 3, 4, 5, 22, 55, 100]
[100, 55, 22, 5, 4, 3, 3, 2, 1]
[100, 55, 22, 5, 4, 3, 3, 2, 1, 2]
['Python', 2, 2.4, True, False, None]
['Python', 2.4, True, False, None]

In [57]:
tuple1=(1,2,3,4,5)
list1=[1,2,3,4,5]
print(type(tuple1))
print(type(list1))
a =(1,)
print(type(a))

tuple3=("Rani", "Akanksha",1,2,2,2,2,2,3,2.4)
print(type(tuple3))
no=tuple3.count(2)
print(no)

no1=tuple3.index(2)
print(no1)
print(22 in tuple3)
print(len(tuple3))

<class 'tuple'>
<class 'list'>
<class 'tuple'>
<class 'tuple'>
5
3
False
10

In [2]:
# Write a program to store seven company names is a list entered by the user.
company = []
print(company)
f1=input("Enter the name of Company: ")
company.append(f1)
f2=input("Enter the name of Company: ")
company.append(f2)
f3=input("Enter the name of Company: ")
company.append(f3)
f4=input("Enter the name of Company: ")
company.append(f4)
f5=input("Enter the name of Company: ")
company.append(f5)
f6=input("Enter the name of Company: ")
company.append(f6)
f7=input("Enter the name of Company: ")
company.append(f7)
print(company)

[]
['Amazon', 'Google', 'Facebook', 'Samsung', 'Flipkart', 'Samsung', 'KPMG']

In [5]:
#Write a program to accept the marks of the 6 students and display them in a sorted way.
Marks = []
print(Marks)
f1=int(input("Enter the value of the Marks:"))
Marks.append(f1)
f2=int(input("Enter the value of the Marks:"))
Marks.append(f2)
f3=int(input("Enter the value of the Marks:"))
Marks.append(f3)
f4=int(input("Enter the value of the Marks:"))
Marks.append(f4)
f5=int(input("Enter the value of the Marks:"))
Marks.append(f5)
f6=int(input("Enter the value of the Marks:"))
Marks.append(f6)
Marks.sort()
print(Marks)

[]
[33, 44, 66, 77, 77, 88]

In [6]:
#Write a program to sum a list with 4 members.
list1=[44,22,33,56]
print(sum(list1))

155

In [8]:
#Write a program to count the number of the zeros in the following tuple.
a=(7,4,0,8,0,2,30,0)
n = a.count(0)
print(n)

3

In [15]:
#Dictonary
marks = {
    "Akanksha":100,
    "Sakshi":99,
    "Sam":56,
    "list":[55,66,77,44],
    1:"Sunny"
}
print(marks, type(marks))

print(marks["Akanksha"])
print(marks["Sakshi"])
print(marks.items())

{'Akanksha': 100, 'Sakshi': 99, 'Sam': 56, 'list': [55, 66, 77, 44], 1: 'Sunny'} <class 'dict'>
100
99
dict_items([('Akanksha', 100), ('Sakshi', 99), ('Sam', 56), ('list', [55, 66, 77, 44]), (1, 'Sunny')])

In [23]:
dict1={
    "Sakshi":700,
    456:"Ram",
    "Rishabh":566,
    900:"Roshan"
}
print(dict1.items())
print(dict1.keys())
print(dict1.values())
dict1.update({"Sakshi":700,"Akanksha":567})
print(dict1)
print(dict1.get("Akanksha"))
print(dict1["Akanksha"])
d={}
print(type(d))

dict_items([('Sakshi', 700), (456, 'Ram'), ('Rishabh', 566), (900, 'Roshan')])
dict_keys(['Sakshi', 456, 'Rishabh', 900])
dict_values([700, 'Ram', 566, 'Roshan'])
{'Sakshi': 700, 456: 'Ram', 'Rishabh': 566, 900: 'Roshan', 'Akanksha': 567}
567
567
<class 'dict'>

In [27]:
set1={2,33,444,55,66,44,2,2,2,2,2,2,2,"Akanksha","Sakshi"}
print(type(set1))
print(set1, type(set1))
s={}
print(type(s))
s = set()
print(type(s))

<class 'set'>
{33, 2, 66, 44, 'Sakshi', 'Akanksha', 55, 444} <class 'set'>
<class 'dict'>
<class 'set'>