In [7]:
import pandas as pd
data = {'Name':['Akanksha',"Sakshi","Rohan",None,"Riya"],
'Age':[34,44,None,22,23],
'Salary':[12000,34444,78999,None,88888]}
df = pd.DataFrame(data)
print(df)

print(df.isnull())

# Filling the missing values with the mean of the column
df['Age'].fillna(44,inplace=True)
print(df)

       Name   Age   Salary
0  Akanksha  34.0  12000.0
1    Sakshi  44.0  34444.0
2     Rohan   NaN  78999.0
3      None  22.0      NaN
4      Riya  23.0  88888.0
    Name    Age  Salary
0  False  False   False
1  False  False   False
2  False   True   False
3   True  False    True
4  False  False   False
       Name   Age   Salary
0  Akanksha  34.0  12000.0
1    Sakshi  44.0  34444.0
2     Rohan  44.0  78999.0
3      None  22.0      NaN
4      Riya  23.0  88888.0

C:\Users\akank\AppData\Local\Temp\ipykernel_12636\1188075881.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(44,inplace=True)

In [12]:
data={'Name':['Akanksha','Akanksha','Rohan','Aman'],
      'Age':[22,22,44,55]}
df=pd.DataFrame(data)
print(df.duplicated())

df = df.drop_duplicates()
print(df)

0    False
1     True
2    False
3    False
dtype: bool
       Name  Age
0  Akanksha   22
2     Rohan   44
3      Aman   55